h1{
    color: blue;
}

h1:hover{
    color: green;
}

p:nth-child(2){
    box-shadow: 6px 6px 10px gray;
}

p:active{
    background-color: lightgray;
}

a{
    color: lightgray;
}

a:visited{
    color: orange
}

img:hover{
    display: none;
}

li:nth-child(even){
    color: blue;
}

li:hover:nth-child(even){
    color: black;
}

li:hover:nth-child(odd){
    color: red;
}